<%- include('partials/header') %> <%- include('partials/navbar') %> <%-
include('partials/sidebar') %>

<div class="card" style="width: 100wh">
  <ul class="list-group list-group-flush">
    <li class="list-group-item right-position">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#myModalAdd"
      >
        <span class="me-1"><i class="bi bi-plus-lg"></i></span>Tambah Anggota
      </button>
    </li>
    <li class="list-group-item">
      <!-- Kolom pencarian -->
      <form class="pt-1 pb-3 right-position" role="search">
        <div class="input-group my-lg-0 col-xs-4" style="width: 200px">
          <input
            type="text"
            class="form-control"
            placeholder="Cari anggota"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <button class="btn btn-primary" type="button" id="button-addon2">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>

      <!-- Tabel anggota-->
      <table id="mytable" class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-center align-middle">No</th>
            <th scope="col" class="text-center align-middle">Nama Lengkap</th>
            <th scope="col" class="text-center align-middle">Alamat</th>
            <th scope="col" class="text-center align-middle">Jenis Kelamin</th>
            <th scope="col" class="text-center align-middle">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% let number = 1; results.forEach(hasil => { %>
          <tr>
            <th scope="row" class="text-center align-middle font-normal"><%= number %></th>
            <td class="align-middle"><%= hasil.nama %></td>
            <td class="align-middle"><%= hasil.alamat %></td>
            <td class="text-center align-middle" ><%= hasil.jenis_kelamin %></td>
            <td class="text-center">
              <a
                href="javascript:void(0);"
                class="btn btn-sm btn-info edit"
                data-id="{{ product_id }}"
                data-product_name="{{ product_name }}"
                data-product_price="{{ product_price }}"
                >Edit</a
              >
              <a
                href="javascript:void(0);"
                class="btn btn-sm btn-danger delete"
                data-id="<%= hasil.id %>"
                >Delete</a
              >
            </td>
          </tr>
          <% number++ }) %>
        </tbody>
      </table>

      <!-- Pagination -->
      <nav aria-label="Page navigation example" class="pb-1">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      <!-- Modal tambah -->
      <form action="/save" method="post">
        <div
          class="modal fade"
          id="myModalAdd"
          aria-hidden="true"
          aria-labelledby="exampleModalToggleLabel"
          tabindex="-1"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">
                  Tambah Anggota
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <input
                    type="text"
                    name="nama"
                    class="form-control"
                    placeholder="Nama Lengkap"
                    required
                  />
                </div>
                <div class="form-group pt-3">
                  <input
                    type="text"
                    name="alamat"
                    class="form-control"
                    placeholder="Alamat"
                    required
                  />
                </div>

              </div>



              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </div>
          </div>
        </div>
      </form>

    </li>
  </ul>
</div>

<%- include('partials/footer') %>
